.loginFormBox {
    width: 500px;
    height: fit-content;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 24px;
    border-radius: 8px;
    margin: 0 auto;
  }
  
  .formStack {
    height: 100%;
    width: 100%;
  }
  
  .loginBtn {
      text-transform: none !important;
      width: 100%;
      box-shadow: none !important;
      height: min-content;
      min-height: 48px;
      border-radius: 28px !important;
      padding: 10px 24px 10px 24px;
      text-align: center;
      font-size: 16px !important;
      font-weight: 600 !important;
      margin-top: 20px !important;
      font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
        "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
      background-color: #0a66c2;
    }